.players-state {
  height: 100%;
  margin-bottom: 0px !important;
  .list-container {
    max-height: calc(100% - 40px);
  }
}

.player-state {
  padding: 3px 8px;
  margin-bottom: 8px;
  background: var(--background-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  &.you {
    border: 1px solid rgba(var(--ion-color-warning-rgb), 0.3);
  }
  .game-info {
    width: 100%;
    display: flex;
    font-size: 12px;
    .game-offer {
      flex: 1;
      span {
        color: var(--ion-color-light-shade);
      }
    }
    .game-id-container {
      text-align: right;
      span {
        color: var(--ion-color-light-shade);
      }
    }
    .label {
      color: var(--ion-color-medium-tint);
    }
  }
  .game-details {
    opacity: 0.7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .cards {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .small-card-container {
      flex: 1;
      margin: 0px;
      & > div {
        width: 20px;
      }
    }

    .game-status {
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-left: 8px;
      .small-star-container {
        margin: 0px;
      }
    }
  }
}
