.player-hand-container {
  position: relative;
  &.off {
    opacity: 0.5;
  }

  .player-hand-container-loading {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    position: absolute;
    background: var(--background-color-dark);
    opacity: 0.8;
    z-index: 3;
    .loader {
      z-index: 4;
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
    }
  }
}
