.play-page {
  .match {
    margin: 8px 0px;
    width: 100%;
    background-color: var(--background-color-light);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(var(--ion-color-primary-rgb), 0.3);
    &.to-close {
      border: 1px solid rgba(var(--ion-color-warning-rgb), 0.6);
      button {
        border-width: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      color: var(--ion-color-primary);
      .label {
        color: var(--ion-color-light-shade);
      }
      .data {
        .small-card-container {
          margin: 0px !important;
          & > div {
            width: 20px !important;
            height: 30px !important;
          }
        }
      }
    }
    button {
      --nextui-danger-opacity: 0.8;
    }
  }
}
